.gallery {
  max-width: 300vh;
  position: relative;
  overflow-x: hidden;
  .menwomen {
    width: 100%;
    height: 100%;
    object-fit: fill;
    
  }

  .women {
    width: 100%;
    filter: brightness(100%);
  }
  .women:hover {
    opacity: 0.8;
    cursor: pointer;
    filter: brightness(80%);
   
  }

  .men {
    width: 100%;
    filter: brightness(100%);
  }
  .jewelery {
    width: 100%;
    filter: brightness(100%);
  }
  .electronic {
    width: 100%;
    filter: brightness(100%);
  }

 

  .men:hover {
    opacity: 0.8;
    cursor: pointer;
    filter: brightness(80%);
  }

  .electronic:hover {
    opacity: 0.8;
    cursor: pointer;
    filter: brightness(80%);
  }

  .jewelery:hover {
    opacity: 0.8;
    filter: brightness(80%);
    cursor: pointer;
  }
}
