.search {
    // :global {
    //     .ant-popover-content {
    //         margin-top: 20px !important ;
    //     }
    // }
    .input-search{
        display: flex;
    }
    .input{
        border: none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        font-family: "Lato-Bold";
    }
    
    .search-btn{
        background-color: #ffff;
        padding: 12px 12px;
        border: none;
        outline: none;
        font-size: 20px;
        margin-left: 2px;
        border-radius: 5px;
        cursor: pointer;
    }

}
    .product-suggestion {
        width: 400px;
        height: 60px;
        margin-bottom:8px;
        padding:5px 10px;
        border-bottom: 1px solid #ccc;
    }

    .product-suggestion-img {
        margin-right: 12px;
    }

    .product-suggestion-title {
        padding: 20px;
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
    }


   