.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(83, 83, 83);
  .title {
    font-family: inherit !important;
    color: rgb(238, 238, 238);
    cursor: pointer;
    transition: 0.5s;
  }
  .title:hover {
    border-bottom: 1px solid rgb(238, 238, 238);
    transform: translateY(-50%);
  }
}
