.category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
height: 60px;    
   .title {
       font-family: inherit !important;
       color: rgb(94, 94, 94);
       cursor: pointer;
       transition: .5s;
   }
   .title:hover {
       border-bottom: 1px solid rgb(94, 94, 94);
       transform: translateY(-50%);
   }
}